:root{
    --vermelho:#E50914;
    --preta:#141414;
}
/* elementos base */
body{
    background:var(--preta);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
header .logo{
    color: gold;
    font-family:'Bebas Neue', cursive;
    font-size: 50px;
    margin-left: 10px;
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: var(--vermelho);
}
header .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-right: 10px;
}
header nav a{
    text-decoration: none;
    color: #AAA;
    margin-right: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
header nav a:hover{
    color: #fff;
}
 /* elementos principal */
 .filme-principal{
     font-size: 16px;
     background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%), url('/img/capa-eternos.jpg');
     height: 400px;
     background-repeat: no-repeat;
     background-size: cover;
     display: flex;

     flex-direction: column;
     justify-content: center;
     align-items: flex-start;
 }
 .titulo{
     margin-top: 15%;
     font-size: 40px;
     font-weight: bolder;
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 }
 .filme-principal .sinopse{
     margin-bottom: 40px;
 }
 .botao{
     background-color: rgba(0,0,0,.50);
     border:none;
     color: white;
    
     padding: 15px;
     margin-right: 15px;
     font-size: 12px;
 }
 .botao:hover{
     color: black;
     background-color: white;
     transition: 0.5s ease all;
 }
 .botao i{
     margin-right: 7px;
 }
 .container{
     margin-left: 30px;
     margin-right: 30px;
 }
 .filme-principal .container{
     width: 50%;
 }
 .box-filme{
     height: 100%;
     width: 100%;
     display: block;
 }
.carrosel-filmes{
   padding-top: 10px;
}
.item:hover{
    border: 10px solid gold;
    transition: 0.5s;
    box-shadow: 0 0 1em gold;
}